.wrapper {
  width: 100%;
  height: inherit;
  background: #e6d8c9;
}

.link {
  margin: 20px 5px;
  display: inline-block;
  color: white;
  background: #7f86b2;
  text-decoration: none;
  padding: 10px 14px;
  border-radius: 3px;
  margin-top: 20px;
  width: 54px;
  font-size: 11px;
  cursor: pointer;
  -webkit-transition: width 0.4s; /* For Safari 3.1 to 6.0 */
  transition: 0.3s;
}